.payment {
    padding: 10px 16px;
    color: white !important;
    background-color: #218838  !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1em;
}

.payment:hover {
    background-color: #28a745 !important;
}