nav {
    background-color: #DDC7BB;
}

/* Featured Title Styling */
.featured-title {
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
    font-weight: bold;
  }
  
  /* Card Styling */
  .featured-card {
    border-radius: 20px;
    overflow: hidden;
    background-image: url('img/placeholder.jpg'); /* Update with the actual path */
    background-size: cover;
    background-position: center;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Overlay Styling for Card Body */
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .cart-icon {
    margin-top: 5px;
    margin-right: 250px;
    font-size: 35px;
    margin-bottom: 25px;
  }

  /* Initially hide the "More Details" button */
.more-details {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.8rem; /* Reduce the font size */
    padding: 5px 5px; /* Adjust the padding to make the button smaller */
    width: 100px; /* Set width to auto to fit the content */
    margin-top: 15px; /* Optional: Adjust margin for spacing */
    align-self: flex-end;
    background-color: #DDC7BB;
    color: black;
  }
  
  /* Show the button when hovering over the card */
  .featured-card:hover .more-details {
    opacity: 1;
  }

  .hmarket {
    /* text-align: center; */
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 125px;
  }
  
  .hmbox {
    background-color: white; /* White background */
    padding: 20px; /* Add padding inside the container */
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a modern look */
  }

  .filter-btn {
    border-radius: 10px; /* Makes the buttons rounded */
    margin: 0 2px; /* Add space between buttons */
    padding: 10px 20px; /* Adjust padding for bigger button look */
    width: 100px;
  }

  .add-post-btn{
    border-radius: 10px;
    margin-left: auto;
  }

  .filter-container {
    display: flex;
    justify-content: left; /* Centers the buttons horizontally */
    margin-bottom: 20px;
  }

      /* Example styling for the boxes */
      .box {
        background-color: lightgray; /* Box color */
        height: 250px; /* Adjust height */
        border-radius: 10px; /* Rounded corners for boxes */
      }
  
      /* Add spacing between boxes */
      .box + .box {
        margin-top: 20px; /* Space between boxes */
      }
  
  