@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Poppins:wght@100;300;400;600;700&display=swap');

nav {
    background-color: #DDC7BB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
    background-color: #f4e0d5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 50px 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



h2 {
    margin-bottom: 20px;
    color: #4d3329;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #4d3329;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

.login-btn {
    background-color: #4d3329;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: #3d2920;
}

p {
    display: block;
    margin-top: 20px;
    color: #4d3329;
}

a {
    color: #4d3329;
    text-decoration: underline;
}

a:hover {
    color: #3d2920;
}
