@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Poppins:wght@100;300;400;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

h1 {
    color: #2B1B12;
    font-weight: bold;
}


/* Jh's */
button[aria-selected="true"]{
    background-color: white;
    color: rgba(221, 199, 187, 1);
}

button[aria-selected="false"]{
    background-color: rgba(221, 199, 187, 1);
    color: white;
}

.nav .nav-item .active {
    background-color: white;
    color: rgba(221, 199, 187, 1);
}

.item-img {
    height: 200px;
    width: 200px;
}

.purchase-ele {
    background-color: rgba(221, 199, 187, 1);
}
